services:
  app:
    build: .
    container_name: cw-notify-storage-oldest
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - ./log.txt:/app/log.txt
    healthcheck:
      test: ["CMD-SHELL", "pgrep -f 'python main.py' || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s
